* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #0f172a;
}

#name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: #ffffff;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

.control {
    width: 150px;
    height: 48px;
    background-color: #0ea5e9;
    color: #ffffff;
    border-radius: 10px;
    border: 0px;
}

.control:hover {
    background-color: #0284c7;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

#grid {
    width: min(90vw, 800px);
    height: min(90vw, 700px);
    border-radius: 12px;
    background-color: #ffffff;
    border: 8px #06b6d4 solid;
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: 2px solid #e2e8f0;
    background-color: #ffffff;
}